<div class="row">
  <div class="col-xs-10">
    <h3>Random Activities</h3>
    <p>If you get bored, try a random activity to change things up!</p>
    <app-activity-add></app-activity-add>
    <hr>
    <h1 class="text-center">Random Activities List</h1>
    <ul class="list-group" *ngFor="let activities of randActivities">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        ACTIVITY: {{ activities.activity }}  <br>TYPE: {{ activities.type }}
        <span class="badge bg-primary rounded-pill">{{ activities.participants }}</span>
        <button class="btn btn-primary">Add to ToDos</button>
      </li>
    </ul>
  </div>
</div>
