<div class="row">
  <div class="col-xs-12">
    <h3>Random Activities</h3>
    <p>If you get bored, try a random activity to change things up!</p>
    <app-activity-add></app-activity-add>
    <hr />
    <h1 class="text-center">Random Activities List</h1>
    <ul class="list-group col-md-3" *ngFor="let activities of randActivities">
      <li
        class="list-group-item flex justify-content-between align-items-center"
      >
        <p>
          <span class="badge bg-success" style="margin-right: 5px"
            >ACTIVITY:</span
          >{{ activities.activity }}
        </p>
        <p>
          <span class="badge bg-warning text-dark" style="margin-right: 5px"
            >TYPE:</span
          >
          {{ activities.type }}
        </p>
        <p>
          <span class="badge bg-info text-dark" style="margin-right: 10px"
            >PARTICIPANTS:</span
          >{{ activities.participants }}
        </p>

        <button class="btn btn-primary position-relative">
          <!-- <span class="position-absolute top-0 start-0 translate-middle badge bg-secondary rounded-pill">{{ activities.participants }}</span> -->
          Add to ToDos
        </button>
      </li>
    </ul>
  </div>
</div>
