<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" style="margin-bottom: 10px; margin-top: 10px;">New ToDo</button>
  </div>
  <hr>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item list-group-item-action"
        aria-current="true"
        *ngFor="let todo of todos"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ todo.titleName }}</h5>
          <small>{{ todo.dueDate }}</small>
        </div>
        <p class="mb-1"> {{ todo.description }} </p>
        <small>{{ todo.createdBy }}</small>
      </a>
    </div>
    <app-todo-item></app-todo-item>
  </div>
</div>

<!-- <div class="row">
  <div class="col-xs-12 list-group">
    <div class="list-group float-left">
      <p class="list-group-item">Title</p>
      <p class="list-group-item">Description</p>
      <p class="list-group-item">Due Date</p>
      <p class="list-group-item">Created By</p>
    </div>
  </div>
</div> -->
