<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New ToDo</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item list-group-item-action"
        aria-current="true"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Title</h5>
          <small>Due Date</small>
        </div>
        <p class="mb-1">Description</p>
        <small>Created By</small>
      </a>
    </div>
    <app-todo-item></app-todo-item>
  </div>
</div>

<!-- <div class="row">
  <div class="col-xs-12 list-group">
    <div class="list-group float-left">
      <p class="list-group-item">Title</p>
      <p class="list-group-item">Description</p>
      <p class="list-group-item">Due Date</p>
      <p class="list-group-item">Created By</p>
    </div>
  </div>
</div> -->
