<div class="row">
  <div class="col-xs-12">
    <h1>{{ todo.titleName }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <small> {{ todo.dueDate }} </small>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h5> {{ todo.description }} </h5>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4> {{ todo.createdBy }} </h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button">
        Manage ToDo
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Edit ToDo</a></li>
        <li><a class="dropdown-item" href="#">Delete ToDo</a></li>
        <li><a class="dropdown-item" href="#">Add Random Activity</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-xs-12">
    Random Activity
  </div>
</div> -->

<!-- Did not need the below code for now -->

<!-- <div class="btn-group dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle">Manage ToDo <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#" class="dropdown-item">Add Random Activity</a></li>
    <li><a href="#" class="dropdown-item">Edit ToDo</a></li>
    <li><a href="#" class="dropdown-item">Delete ToDo</a></li>
  </ul>
</div> -->
